/*! Created by Ye Liu */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chart-label {
    width: 55px;
}

.label-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: -1px;
}

.label-text {
    font-size: 12px;
}

.cpp {
    background-color: rgba(236, 208, 120, 0.7);
}

.py {
    background-color: rgba(217, 91, 67, 0.7);
}

.java {
    background-color: rgba(192, 41, 66, 0.7);
}

.cs {
    background-color: rgba(84, 36, 55, 0.7);
}

.git {
    background-color: rgba(83, 119, 122, 0.7);
}

.latax {
    background-color: rgba(119, 146, 174, 0.7);
}